html,
body {
    font-size: 16px;
    color: #dfdfdf;
    background-color: #171717;
}

.navigatie ul {
    list-style: none;
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 0;
    margin: 10px;
    border-radius: 30px;
}

.navigatie li {
    display: inline-block;
}

.navigatie a {
    text-decoration: none;
    color: #ffffff;
    width: 80px;
    display: block;
    padding: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
}

.navigatie a:hover {
    background: rgba(79, 7, 7, 0.5);
    transition: 0.4s;
}

.navigatie a.active {
    background: rgba(79, 7, 7, 0.5);
}

a {
    color: #dfdfdf;
}

a:hover {
    color: #ffffff;
}

.Complete {
    width: 100%;
    background-color: #171717;
}

.search {
    width: 10%; background-color: #04AA6D;
}

.project {
  padding-top: 5px;
  padding-bottom: 5px; 
  color: white;
  border-radius: 30%;
}
.section-3 {
    background-color: #171717;
}

.avatar {
    height: 200px;
    border-radius: 50%;
}

.box {
    background-color: transparent;
    border: 5px solid rgba(79, 7, 7, 0.5);
    border-radius: 50px;
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 2rem;
}

span {
    font-size: 1.8em;
    font-display: fixed;
    color: #ffffff;
}

subtitle {
    font-size: 1.6em;
    color: #ffffff;
}

subtitle-2 {
    font-size: 1em;
    color: #ffffff;
}

.button {
    background-color: transparent;
    border: 1px;
    border-radius: 100px;
    color: white;
    padding: 15px 32px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    background-color: #ffffff21;
}

.button-more {
    background-color: transparent;
    border: 1.9px solid rgb(255, 255, 255);
    border-radius: 100px;
    color: white;
    padding: 10px 32px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button-more:hover {
    color: #ffffff;
    background-color: #ffffff21;
}

button-text {
    font-size: 1.3em;
}

.center-mobile {
    text-align: left;
}

@media all and (max-width:500px) {
    table {
        width: 100%;
    }
    td {
        display: block;
        width: 100%;
    }
    tr {
        display: block;
        margin-bottom: 30px;
    }
    .center-mobile {
        text-align: center;
    }
}